.main {
  max-width: 920px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  margin: auto auto 0 auto;
}

@media screen and (max-width: 900px) {
  .main {
    display: block;
    padding-bottom: 24px;
    padding-top: 32px;
  }
}
